@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("http://fonts.cdnfonts.com/css/common-pixel");

html {
  font-family: "VT323", "Common Pixel", monospace;
  font-size: 20px;
  background-color: #f0e5cf;
}

body {
  display: flex;
  justify-content: flex-end;
  padding: 2vw;
  gap: 2vw;
}
.container {
  width: 80vmin;
  height: 80vmin;
  display: grid;
  border: solid 2px;
  border-radius: 4px;
  box-shadow: -5px 5px 15px;
}
.container div {
  border: 1px dashed black;
  background-color: #e6e8e6;
}

.button,
.color-picker,
.eraser-toggle,
.rainbow-toggle {
  padding: 1vw;
  font-family: "VT323";
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  text-align: left;
  background-color: #4b6587;
  box-shadow: -5px 5px 15px black;
  color: #f7f6f2;
}

.button:hover,
.color-picker:hover,
.eraser-toggle:hover,
.rainbow-toggle:hover {
  background-color: #fec260;
}

.toggled {
  background-color: #548ca8;
}

input {
  display: none;
}

.configuration {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3vh;
}

.color-display {
  background-color: black;
  width: 5vmin;
}
